.topnav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: $max-width;
  margin: 0 auto;
  // 60 + 50 = 110
  height: 110px;
  padding: 25px;
  h1 {
    color: $text-nav-color;
  }
  img {
    // keep aspect ratio
    height: 100%;
    width: auto;
  }
}
