$bg-main-color: #171717;

$main-btn-bg-color: #2c2c3f;
$main-btn-text-color: #f1f1f1;

$text-nav-color: #00ffb2;
$text-upload-color: #a2a2b4;
$text-main-color: #f1f1f1;
$text-accent-color: #a8a8a8;

$max-width: 1500px;
$mobile-width: 600px;
