@import "constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root,
body {
  height: 100%;
  width: 100%;
  background-color: $bg-main-color;
}

@import "typography";
@import "componentStyles/mainPage";
@import "componentStyles/uploadCard";
@import "ui/topNavbar";
