@font-face {
  font-family: "Lineatura";
  src: url("../assets/fonts/Lineatura.ttf") format("truetype");
}

@font-face {
  font-family: "Golos";
  src: url("../assets/fonts/Golos.woff2") format("woff2");
}

h1 {
  line-height: 1;
  font-size: 48px;
  font-family: "Lineatura", sans-serif;
}

h2 {
  line-height: 1;
  font-size: 36px;
  font-family: "Lineatura", sans-serif;
}

h3 {
  line-height: 1;
  font-size: 24px;
  font-family: "Lineatura", sans-serif;
}

* {
  font-family: "Golos", sans-serif;
}

p {
  font-size: 18px;
}
