.main_page {
  .wave_bg {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-bottom: 10%;
  }

  .wave_bg svg path {
    animation: stroke 40s linear infinite;
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
